html
    head
        link(rel="stylesheet" href="/css/bootstrap.min.css")
    body.bg-dark.text-light
        div.container-xl
            div.container
                h1 
                    a.text-decoration-none.text-light(href='/') One Time Notes
                footer.blockquote-footer
                    a.text-decoration-none.text-light(
                        href="https://github.com/ramonpetgrave64/"
                    ) github.com/ramonpetgrave64
            div.container
                br
                block content
